<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shriya Pie Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

       <style>
    body {
 /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color : aliceblue;
    
    font-family: 'Source Sans Pro', sans-serif;
}
</style>
<body>
      <header>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" asp-controller="pie" asp-action="List">Shop</a>
            </div>
            <ul class="nav navbar-nav">
             <li class="nav-item active">
                <a class="nav-link" asp-controller="pie" asp-action="PiesOfTheWeek">PiesOfTheWeek<span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" asp-controller="pie" asp-action="FruitsPies">FruitsPies</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" asp-controller="pie" asp-action="SeasonalPies">SeasonalPies</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" asp-controller="pie" asp-action="CheeseCakes">CheeseCakes</a>
              </li>
                
             
            </ul>
          </div>
        </nav>
        </header>
         <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p class="lead">
                    <img class="img-responsive" alt="Pie Shop" src="~/Image/logo.jpg" height="200" width="200">

                </p>
            </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ShriyaPieShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
